<% provide(:title, "Alterar minha senha") %>
<% content_for :navbar do %>
<%= render 'layouts/header-clean' %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto mt-5">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Alterar Minha Senha</h4>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

          <div class="form-group">
            <%= f.password_field :password, autofocus: true, placeholder: "Senha nova", required: true, autocomplete: "off", class: "form-control" %>
            <% if @minimum_password_length %>
              <small class="form-text text-muted">(<%= @minimum_password_length %> dígitos mínimos)</small>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirme sua senha nova", required: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.button "Alterar minha senha", class: "btn btn-primary btn-lg btn-block", data: { "disable-with": "<i class='fa fa-spinner fa-spin'></i> Alterando..." } %>
            <% end %>
          </div>

          <div class="text-muted text-sm-left text-md-right">
            <small>
            <%= render "devise/shared/links" %>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
