<% provide(:title, "Esqueci minha senha") %>
<% content_for :navbar do %>
<%= render 'layouts/header-clean' %>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto mt-5">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Esqueci Minha Senha</h4>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

          <div class="form-group">
          <%= f.email_field :email, autofocus: true, placeholder: "E-Mail", required: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.button "Enviar instruções de recuperação de senha", class: "btn btn-primary btn-lg btn-block", data: { "disable-with": "<i class='fa fa-spinner fa-spin'></i> Enviando..." } %>
          </div>
<% end %>

          <div class="text-muted text-sm-left text-md-right">
            <small>
            <%= render "devise/shared/links" %>
            </small>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
