<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.productname %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @product.seller_id %>
</p>

<%= link_to 'Comprar', "#", class: 'btn btn-primary' %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
