

<footer >
  <hr />
<div class="container mt-5 mb-3">

  <div class="row">
    <div class="col-sm-3">
      <div><%= link_to image_tag('logo-preto-no-border.svg', alt:'Meushape.com', height:'30'), root_path, class: "img-fluid hidden-xs" %></div>
      <br class="hidden-xs" />
      <div><small><%= link_to "© 2017-2018, Meushape.com", root_path, class: "text-muted" %></small></div>
    </div>

    <div class="col-sm-2 col-xs-4">
      <div><strong>APRENDA</strong></div>
      <div><%= link_to "Guias", "#", class: "text-muted" %></div>
      <div><%= link_to "Treino", "#", class: "text-muted" %></div>
      <div><%= link_to "Nutrição", "#", class: "text-muted" %></div>
      <div><%= link_to "Comunidade", "#", class: "text-muted" %></div>
    </div>

    <div class="col-sm-2 col-xs-4">
      <div><strong>EXTRAS</strong></div>
      <div><%= link_to "Blog", "#", class: "text-muted" %></div>
      <div><%= link_to "Depoimentos", "#", class: "text-muted" %></div>
      <div><%= link_to "Perguntas Frequentes", "#", class: "text-muted" %></div>
      <div><%= link_to "Recomendações", "#", class: "text-muted" %></div>
    </div>

    <div class="col-sm-2 col-xs-4">
      <div><strong>SOBRE</strong></div>
      <div><%= link_to "SAC", "#", class: "text-muted" %></div>
      <div><%= link_to "Sugestões", "#", class: "text-muted" %></div>
      <div><%= link_to "Termos", "#", class: "text-muted" %></div>
      <div><%= link_to "Privacidade", "#", class: "text-muted" %></div>
      <div><%= link_to "Sobre Nós", "#", class: "text-muted" %></div>
    </div>

    <div class="col-sm-3 col-xs-12">
      <br class="visible-xs" />
      <div><a class="btn btn-secondary btn-sm" href="#">Receba nosso newsletter</a></div>

      <hr class="hidden-xs" />

      <a href="#" class="text-muted">Instagram</a>
      <a href="#" class="text-muted">Facebook</a>
      <a href="#" class="text-muted">Twitter</a>
    </div>
  </div>
</div>
</footer>
